RootPanel {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    pointer-events: all;
}

.dvdcont
{
    background-color: rgba(0,0,0,0);
    width: 100%;
    margin-right: 510px;
    margin-bottom: 305px;
}

DVDPanel {
    transition: left 0.01s ease-in, top 0.01s ease-in;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(ui/dvd.png);
    background-repeat: no-repeat;
    background-size: 510px 305px;
    width: 510px;
    height: 305px;
    margin: 0;
    padding: 0;
}

DVDTintPanel {
    position: relative;
    top: 0;
    left: 0;
    background-color: #be00ff;
    mix-blend-mode: multiply;
    width: 510px;
    height: 305px;
}