RootPanel {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    pointer-events: all;
    padding: 0 510px 305px 0;
}

DVDPanel {
    transition: left 0.01s linear, top 0.01s linear;
    background-image: url(ui/dvd.png);
    background-repeat: no-repeat;
    background-size: 510px 305px;
    width: 510px;
    height: 305px;
    margin: 0;
    padding: 0;
}

.scoreboard {
    .corners {
        width: 90px;
        text-align: right;
    }
}